body {
    background-color: 	rgb(245,245,245);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px; 
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color:rgb(224,224,224);
}
label, input {
    margin: 5px 0;
}
