<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="login.css">
        <title>Login</title>
    </head>
    <body>
        <div class="container">
        <h1>Login</h1>
        <form method="POST" action="/login/submit">
            <label>Username:</label>
            <input type="text" name="username">
            <label>Password:</label>
            <input type="password" name="password">
            <input type="submit">
        </form>
        <h4> Dont have an account? Signup <a href="/signup">Here!</a></h4>
    </div>
    </body>
</html>