<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Score Page</title>
</head>
<body>
  <h1>Quiz Results:</h1>
  <!--Outputs score out of the total number of questions-->
  <p>Your Score: <%= score %>/<%= totalQuestions %></p>
</body>
</html>
